h2 {
    text-align: center;
  }
  
  form {
    width: 50%;
    margin: auto;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 8px;
    margin: 10px 0;
  }
  
  button {
    background: orange;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background: darkorange;
  }
  